#navbar {
    .stackable.menu {
        padding-top: 1rem;
        padding-left: .5rem;
        padding-bottom: .5rem;
        transition: padding 0.4s linear;

        @media only screen and (min-width: 768px) {
            padding: 2em;
        }

        .header {
            color: #fff;
            padding: 0;
            justify-content: space-between;

            h1 {
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0;
                letter-spacing: .3em;

                @media only screen and (min-width: 768px) {
                    letter-spacing: .5em;
                }
            }

            a.icon {
                color: #fff;

                &:hover {
                    cursor: pointer;
                }

                @media only screen and (min-width: 768px) {
                    display: none;
                }
            }
        }
    }

    .stackable.menu .right.menu {
        display: none;

        @media only screen and (min-width: 768px) {
            display: flex;
        }

        .item {
            color: #fff;
            font-weight: bold;
        }
    }

    .stackable.mobile.menu .right.menu {
        display: flex;
    }

    .stackable.small-nav.menu {
        padding: 0;
    }
}
