#navbar {
    .stackable.menu {
        padding-top: 1.5rem;
        padding-left: .5rem;
        padding-bottom: .5rem;
        transition: padding 0.4s linear;

        @media only screen and (min-width: 768px) {
            padding: 2em;
        }

        .header {
            color: #fff;
            padding: 0;
            justify-content: space-between;

            h1 {
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0;
                letter-spacing: .3em;
                cursor: pointer;

                @media only screen and (min-width: 768px) {
                    letter-spacing: .5em;
                }

                span {
                    display: inline-block;
                    animation: bounce 1.5s linear;

                    &:nth-child(1) {
                        animation-delay: 0s;
                    }

                    &:nth-child(2) {
                        animation-delay: .2s;
                    }

                    &:nth-child(3) {
                        animation-delay: .4s;
                    }

                    &:nth-child(4) {
                        animation-delay: .6s;
                    }

                    &:nth-child(5) {
                        animation-delay: .8s;
                    }

                    &:nth-child(6) {
                        animation-delay: 1s;
                    }
                }
            }

            button.hamburger {
                @media only screen and (min-width: 768px) {
                    display: none;
                }
            }
        }
    }

    .stackable.menu .right.menu {
        display: none;

        @media only screen and (min-width: 768px) {
            display: flex;
        }

        .item {
            color: #fff;
            font-weight: bold;
            border-bottom: none;

            &:hover {
                color: #4aacf1;
            }
        }

        .active.item {
            color: #4aacf1;
        }
    }

    .stackable.mobile.menu .right.menu {
        display: flex;
        height: 0;
        margin-top: 1rem;
        background-color: #222225;
        z-index: 99;
        transition: height .3s linear;

        .item {
            opacity: 0;
            height: calc(15rem / 4);
            transition: opacity .3s linear;
        }
    }

    .stackable.open.mobile.menu .right.menu {
        height: 15em;

        .item {
            opacity: 1;
        }
    }

    .stackable.small-nav.menu {
        padding: 0;
    }
}


@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(-30px);
    }

    15% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-20px);
    }

    30% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-10px);
    }

    45% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}
