#social-media-bar {
    padding: 30px;
    text-align: center;

    button {
        margin: 0 .75em 0 0;
        transition: all 0.3s ease;

        &:hover {
            background-color: #fff;
            border: 2px solid;
            transform: rotate(360deg) scale(1.2);
        }
    }

    a:nth-child(1) button:hover {
        color: #3b5998;
        border-color: #3b5998;
    }

    a:nth-child(2) button:hover {
        color: #35a2f4;
        border-color: #35a2f4;
    }

    a:nth-child(3) button:hover {
        color: #3D698E;
        border-color: #3D698E;
    }

    a:nth-child(4) button:hover {
        color: #1f88be;
        border-color: #1f88be;
    }

    a:nth-child(5) button:hover {
        color: #1b1c1d;
        border-color: #1b1c1d;
    }
}
