#main-wrapper {
    #main {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
        background-color: #F1F4F6;
        z-index: 999;

        .intro-section {
            .intro-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }

        .terminal-section {
            .terminal-wrapper {
                height: 100%;
                color: rgb(253, 253, 253);
                background-color: rgb(48, 10, 36);
            }
        }
    }
}
